@CHARSET "ISO-8859-1";

* {box-sizing: border-box}
body {
    background-color: #ffffff;
   
    margin: 1px;
}

.header {
    background-color: #80ff80;
    background-image: url("leaf.jpg");
    opacity: 0.9;
    text-align: center;
    
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    
}

li {
    display: inline;
}
li div {
    display: inline-block;
    padding: 14px 40px;
    color: #8000ff;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    background-color: #804040
}

li div:hover{
	
	background-color: #f9f9f9;
}

.dropdown{
	position: relative;
    display: inline-block;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

p a:hover {
    background-color: #00ff40;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.c1 {
	display: inline-block;
	font-size: 35px;
	color: #0000ff;
	line-height: 25px;
}
.c2 {
	display: inline-block;
	font-size: 35px;
	color: #0000ff;
	line-height: 40px;
}

.c4{
	font-size: 30px;
	color: #0000ff;
}

.c11{
	width:80px;
	height:80px;
	margin-left:15px;
	margin-right:15px;
}

.column {
    float: left;
    padding: 5px;
    text-align: left;
}

.column.left {
    width: 20%;
    border-right-style: solid;
    border-right-color: #0000ff;
    
}

.column.right {
    width: 70%;
   border-left-style: solid;
    border-left-color: #804040;
}

.c6{
	margin-left:15px;
	color:yellow;
	font-size: 20px;
	background-color:blue;
	background: linear-gradient(to bottom right, blue, #F5F5F9);
	border-radius: 20%;
	border-color:gray
	
}

.changes-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.myTexts{
	display: none;
	text-align: center;
}

.myImages{
	display: none;
	
}

.myVideos{
	display: none;
	
}
.myFiles{
	display: none;
}

.t1{
	border-collapse:collapse;
	border:5px solid #0000ff;
	
}